.c3-axis-y .tick {
	fill: white;
}

.c3-axis-x .tick {
	fill: white;
}

.c3-legend-item {
	fill: white;
}

.c3-axis-y-label {
	fill: white;
	font-size: 14px;
}

.c3-axis-x-label {
	fill: white;
	font-size: 14px;
}

.c3-axis > path{
	stroke: white;
}

.c3-tooltip td{
	color: white;
	background-color: black;
}

.tick > line {
	stroke: white;
}

.tick tspan {
	font-size: 12px;
}